body, html {
	position: relative;
	width:100%; 
	padding:0;
	margin:0;
	font-size: $base-font-size;
	color: $body-font-color;
	background-color: $body-bg;
	font-family: $body-font-family;
	box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a {
	transition: all 0.2s;
	&:link {
		color: $color-primary;
		text-decoration: none;
	}
	&:visited {
		color: $color-primary;
		text-decoration: none;
	}
	&:hover {
		color: $color-black;
		text-decoration: none;
	}
}

.text-primary {
	color: $color-primary;
}

ul.styled-unordered-list {
	padding: 0;
	margin: 10px 0;
	list-style: none;
	clear: both;
	li {
		margin: 0;
		padding: 5px 0px 5px 30px;
		position: relative;
		&:before {
			display: block;
			content: "";
			width: 5px;
			height: 5px;
			border-radius: 20px;
			background-color: $color-primary;
			position: absolute;
			top: 13px;
			left: 0;
		}
	}
}

ol.styled-ordered-list {
	counter-reset: li;
	list-style: none;
	margin: 10px 0;
	padding: 0;
	& > li {
		margin: 0;
		padding: 10px 0px 10px 30px;
		position: relative;
		&::before {
			content: counter(li) ".";
			counter-increment: li;
			color: $color-primary;
			position: absolute;
	    top: 10px;
	    left: 0;
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}

.breadcrumbs {
	margin-top: 20px;
}

blockquote {
	border: 0;
}

iframe {
	margin: 0 auto;
	display: block;
	max-width: 100%;
}

.aligncenter {
	margin: 0 auto;
	display: block;
}
.alignleft {
	float: left;
	margin: 0 20px 20px 0;
}
.alignright {
	float: right;
	margin: 0 0 20px 20px;
}