input[type="text"],
input[type="email"],
input[type="url"],
textarea {
	width: 100%;
	border: 0;
	background-color: $color-light-grey;
	padding: 5px 10px;
}

input[type="submit"] {
	@extend .button.is--primary;
	cursor: pointer;
	&:hover {
		color: $color-white;
	}
}

button, input, select, textarea {
	font-weight: 300;
	font-size: $font-size-xs;
}

.comment-form {
	input[type="text"],
	input[type="email"],
	input[type="url"],
	textarea {
		background-color: $color-white !important;
		width: 100% !important;
		@media #{$media-medium-up} {
			width: 50% !important;
		}
	}
	input[type="submit"] {
		margin-top: 20px;
	}
	label {
		display: block;
		font-weight: normal;
		font-size: $font-size-sm;
	}
}

article.comment {
	padding-bottom: 20px;
	border-bottom: 1px solid $color-medium-grey;
	margin-bottom: 20px;
	img.avatar {
		float: left;
		border-radius: 100%;
		margin-right: 20px;
	}
	.commenttext {
		.commenttitle {
			line-height: 65px;
		}
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $color-black;
  font-weight: 300;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $color-black;
  font-weight: 300;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $color-black;
  font-weight: 300;
}
:-moz-placeholder { /* Firefox 18- */
  color: $color-black;
  font-weight: 300;
}